.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-flow: nowrap;
    gap: 25px;
    height: 40px;
    background-color: #1d2021;
}

.navoption {
    color: rgb(200, 200, 200);
    padding: 8px 0px 8px 0px;
    text-decoration: none;
}

.navoption:hover {
    text-decoration: underline;
}

.navbar {
    white-space: nowrap;
}

.navbar-deals {
    padding: 8px 0px 8px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-flow: nowrap;
}

.navbar-deals-icon {
    color:#f59133;
    text-decoration: none;
    transform: scale(0.8);
}

.navbar-deals-text {
    color:#f59133;
    text-decoration: none;
}

.navbar-deals-text:hover {
    text-decoration: underline;
}

.navbar-search {
    background-color: #181a1b;
    padding: 8px 0px 8px 0px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-flow: nowrap;
    color: rgb(200, 200, 200);
}

.navoption-more {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-flow: nowrap;
    color: rgb(200, 200, 200);
}

.navoption-more-submenu {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: left;
    position: absolute;
    background-color: #181A1B;
    border: 1px solid #606060;
    top: 220px;
}

.navoption-suboption {
    color: rgb(200, 200, 200);
    padding: 8px 10px 8px 10px;
    text-decoration: none;
    transition: background-color 0.2s;
}

.navoption-suboption:hover {
    background-color:#292929;
}
